.login-wrapper {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  top: 0;
  left: 0;

  .login {
    display: flex;
    flex-direction: column;
    width: 30vw;
    min-width: 480px;
    height: auto;
    background-color: #f4f4f8;
    padding: 25px;
    @media all and (max-width: 1640px) {
      width: 40vw;
    }
    @media all and (max-width: 1080px) {
      width: 50vw;
    }
  }

  .login-header {
    display: block;
    height: 1.5em;
    font-size: 2em;
    padding-bottom: 1.8em;
    border-bottom: #c1c1c4 1px solid;

    span {
      font-size: 0.6em;
      padding: 6px;
    }
  }

  form p {
    margin: 10px 10px 10px 0;
    padding: 0;
    font-size: 16px;
  }
}
